.section {
    width: 100%;
    background-color: #323232!important;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 16px;
    padding: 20px 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logoArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 170px;
    max-width: 170px;
    flex-grow: 0;
    flex-shrink: 0;
    row-gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo a {
    font-size: 25px;
    font-weight: bold;
    color: #f44336;
}

.separator {
    width: 1px;
    height: 80px;
    background-color: #ffffff;
    margin: 0 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 600px;
    max-width: 600px;
    flex-grow: 1;
    flex-shrink: 1;
}

.menu a {
    text-decoration: none;
    margin-bottom: 10px;
    color: #fff;
}

.socialIcon {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-basis: 200px;
    max-width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.socialIcon a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
}

.socialIcon a:hover {
    color: #f0a500;
}
